header {
    background: var(--bs-info); padding: 80px 0px; color: white
}
h2 {
    margin: 80px 0px 20px;
}
.btn-group {margin-bottom: 50px}
.card-body {
    padding-bottom: 60px; text-align: start;
}
.card {
    box-shadow: 0px 0px 10px 1px lightgrey; height: 450px
}